<p id="notice"><%= notice %></p>

<p>
  <b>Session:</b>
  <%= @participant.session_id %>
</p>

<p>
  <b>Ip address:</b>
  <%= @participant.ip_address %>
</p>

<p>
  <b>First name:</b>
  <%= @participant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @participant.last_name %>
</p>

<p>
  <b>Instructor:</b>
  <%= @participant.instructor %>
</p>

<p>
  <b>Country:</b>
  <%= @participant.country %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
