<td><%= s = SourceEvaluation.where("source_id = ?", index).count %></td>
<% if s > 0 %>
  <td><%= (SourceEvaluation.where("source_id = ?", index).average(:time_spent)/1000.to_f).round(3) %></td>
  <td><%= SourceEvaluation.where("source_id = ?", index).average(:familiarity) %></td>
  <td><%= SourceEvaluation.where("source_id = ?", index).average(:trust) %></td>
  <td><%= SourceEvaluation.where("source_id = ?", index).average(:utility) %></td>
  <td><%= SourceEvaluation.where("source_id = ?", index).average(:accessibility) %></td>
<% else %>
  <td>n/a</td>
  <td>n/a</td>
  <td>n/a</td>
  <td>n/a</td>
  <td>n/a</td>
<% end %>