<%= form_for @questionnaire, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :q0, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q0, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q1, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q1, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q2, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q2, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q3, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q3, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q4, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q4, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q5, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q5, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q6, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q6, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q7, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q7, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q8, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q8, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q9, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q9, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q10, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q10, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q11, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q11, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q12, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q12, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q13, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q13, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q14, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q14, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q15, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q15, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q16, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q16, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q17, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q17, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q18, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q18, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q19, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q19, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q20, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q20, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q21, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q21, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q22, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q22, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q23, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q23, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q24, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q24, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q25, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q25, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q26, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q26, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q27, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q27, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q28, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q28, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q29, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q29, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q30, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q30, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q31, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q31, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q32, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q32, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q33, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q33, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q34, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q34, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q35, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q35, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q36, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q36, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q37, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q37, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q38, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q38, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q39, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q39, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q40, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q40, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q41, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q41, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q42, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q42, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q43, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q43, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q44, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q44, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q45, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q45, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q46, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q46, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q47, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q47, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q48, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q48, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q49, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q49, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q50, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q50, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q51, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q51, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q52, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q52, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q53, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q53, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q54, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q54, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q55, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q55, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q56, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q56, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q57, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q57, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q58, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q58, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q59, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q59, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q60, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q60, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q61, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q61, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q62, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q62, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q63, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q63, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q64, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q64, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q65, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q65, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q66, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q66, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q67, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q67, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q68, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q68, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q69, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q69, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q70, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q70, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q71, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q71, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q72, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q72, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q73, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q73, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q74, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q74, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q75, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q75, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q76, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q76, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q77, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q77, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q78, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q78, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q79, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q79, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q80, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q80, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :q81, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :q81, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :context1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :context1, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :context2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :context2, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questionnaires_path, :class => 'btn' %>
  </div>
<% end %>
