<%- model_class = Questionnaire.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:q0) %></th>
      <th><%= model_class.human_attribute_name(:q1) %></th>
      <th><%= model_class.human_attribute_name(:q2) %></th>
      <th><%= model_class.human_attribute_name(:q3) %></th>
      <th><%= model_class.human_attribute_name(:q4) %></th>
      <th><%= model_class.human_attribute_name(:q5) %></th>
      <th><%= model_class.human_attribute_name(:q6) %></th>
      <th><%= model_class.human_attribute_name(:q7) %></th>
      <th><%= model_class.human_attribute_name(:q8) %></th>
      <th><%= model_class.human_attribute_name(:q9) %></th>
      <th><%= model_class.human_attribute_name(:q10) %></th>
      <th><%= model_class.human_attribute_name(:q11) %></th>
      <th><%= model_class.human_attribute_name(:q12) %></th>
      <th><%= model_class.human_attribute_name(:q13) %></th>
      <th><%= model_class.human_attribute_name(:q14) %></th>
      <th><%= model_class.human_attribute_name(:q15) %></th>
      <th><%= model_class.human_attribute_name(:q16) %></th>
      <th><%= model_class.human_attribute_name(:q17) %></th>
      <th><%= model_class.human_attribute_name(:q18) %></th>
      <th><%= model_class.human_attribute_name(:q19) %></th>
      <th><%= model_class.human_attribute_name(:q20) %></th>
      <th><%= model_class.human_attribute_name(:q21) %></th>
      <th><%= model_class.human_attribute_name(:q22) %></th>
      <th><%= model_class.human_attribute_name(:q23) %></th>
      <th><%= model_class.human_attribute_name(:q24) %></th>
      <th><%= model_class.human_attribute_name(:q25) %></th>
      <th><%= model_class.human_attribute_name(:q26) %></th>
      <th><%= model_class.human_attribute_name(:q27) %></th>
      <th><%= model_class.human_attribute_name(:q28) %></th>
      <th><%= model_class.human_attribute_name(:q29) %></th>
      <th><%= model_class.human_attribute_name(:q30) %></th>
      <th><%= model_class.human_attribute_name(:q31) %></th>
      <th><%= model_class.human_attribute_name(:q32) %></th>
      <th><%= model_class.human_attribute_name(:q33) %></th>
      <th><%= model_class.human_attribute_name(:q34) %></th>
      <th><%= model_class.human_attribute_name(:q35) %></th>
      <th><%= model_class.human_attribute_name(:q36) %></th>
      <th><%= model_class.human_attribute_name(:q37) %></th>
      <th><%= model_class.human_attribute_name(:q38) %></th>
      <th><%= model_class.human_attribute_name(:q39) %></th>
      <th><%= model_class.human_attribute_name(:q40) %></th>
      <th><%= model_class.human_attribute_name(:q41) %></th>
      <th><%= model_class.human_attribute_name(:q42) %></th>
      <th><%= model_class.human_attribute_name(:q43) %></th>
      <th><%= model_class.human_attribute_name(:q44) %></th>
      <th><%= model_class.human_attribute_name(:q45) %></th>
      <th><%= model_class.human_attribute_name(:q46) %></th>
      <th><%= model_class.human_attribute_name(:q47) %></th>
      <th><%= model_class.human_attribute_name(:q48) %></th>
      <th><%= model_class.human_attribute_name(:q49) %></th>
      <th><%= model_class.human_attribute_name(:q50) %></th>
      <th><%= model_class.human_attribute_name(:q51) %></th>
      <th><%= model_class.human_attribute_name(:q52) %></th>
      <th><%= model_class.human_attribute_name(:q53) %></th>
      <th><%= model_class.human_attribute_name(:q54) %></th>
      <th><%= model_class.human_attribute_name(:q55) %></th>
      <th><%= model_class.human_attribute_name(:q56) %></th>
      <th><%= model_class.human_attribute_name(:q57) %></th>
      <th><%= model_class.human_attribute_name(:q58) %></th>
      <th><%= model_class.human_attribute_name(:q59) %></th>
      <th><%= model_class.human_attribute_name(:q60) %></th>
      <th><%= model_class.human_attribute_name(:q61) %></th>
      <th><%= model_class.human_attribute_name(:q62) %></th>
      <th><%= model_class.human_attribute_name(:q63) %></th>
      <th><%= model_class.human_attribute_name(:q64) %></th>
      <th><%= model_class.human_attribute_name(:q65) %></th>
      <th><%= model_class.human_attribute_name(:q66) %></th>
      <th><%= model_class.human_attribute_name(:q67) %></th>
      <th><%= model_class.human_attribute_name(:q68) %></th>
      <th><%= model_class.human_attribute_name(:q69) %></th>
      <th><%= model_class.human_attribute_name(:q70) %></th>
      <th><%= model_class.human_attribute_name(:q71) %></th>
      <th><%= model_class.human_attribute_name(:q72) %></th>
      <th><%= model_class.human_attribute_name(:q73) %></th>
      <th><%= model_class.human_attribute_name(:q74) %></th>
      <th><%= model_class.human_attribute_name(:q75) %></th>
      <th><%= model_class.human_attribute_name(:q76) %></th>
      <th><%= model_class.human_attribute_name(:q77) %></th>
      <th><%= model_class.human_attribute_name(:q78) %></th>
      <th><%= model_class.human_attribute_name(:q79) %></th>
      <th><%= model_class.human_attribute_name(:q80) %></th>
      <th><%= model_class.human_attribute_name(:q81) %></th>
      <th><%= model_class.human_attribute_name(:context1) %></th>
      <th><%= model_class.human_attribute_name(:context2) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= link_to questionnaire.id, questionnaire_path(questionnaire) %></td>
        <td><%= questionnaire.q0 %></td>
        <td><%= questionnaire.q1 %></td>
        <td><%= questionnaire.q2 %></td>
        <td><%= questionnaire.q3 %></td>
        <td><%= questionnaire.q4 %></td>
        <td><%= questionnaire.q5 %></td>
        <td><%= questionnaire.q6 %></td>
        <td><%= questionnaire.q7 %></td>
        <td><%= questionnaire.q8 %></td>
        <td><%= questionnaire.q9 %></td>
        <td><%= questionnaire.q10 %></td>
        <td><%= questionnaire.q11 %></td>
        <td><%= questionnaire.q12 %></td>
        <td><%= questionnaire.q13 %></td>
        <td><%= questionnaire.q14 %></td>
        <td><%= questionnaire.q15 %></td>
        <td><%= questionnaire.q16 %></td>
        <td><%= questionnaire.q17 %></td>
        <td><%= questionnaire.q18 %></td>
        <td><%= questionnaire.q19 %></td>
        <td><%= questionnaire.q20 %></td>
        <td><%= questionnaire.q21 %></td>
        <td><%= questionnaire.q22 %></td>
        <td><%= questionnaire.q23 %></td>
        <td><%= questionnaire.q24 %></td>
        <td><%= questionnaire.q25 %></td>
        <td><%= questionnaire.q26 %></td>
        <td><%= questionnaire.q27 %></td>
        <td><%= questionnaire.q28 %></td>
        <td><%= questionnaire.q29 %></td>
        <td><%= questionnaire.q30 %></td>
        <td><%= questionnaire.q31 %></td>
        <td><%= questionnaire.q32 %></td>
        <td><%= questionnaire.q33 %></td>
        <td><%= questionnaire.q34 %></td>
        <td><%= questionnaire.q35 %></td>
        <td><%= questionnaire.q36 %></td>
        <td><%= questionnaire.q37 %></td>
        <td><%= questionnaire.q38 %></td>
        <td><%= questionnaire.q39 %></td>
        <td><%= questionnaire.q40 %></td>
        <td><%= questionnaire.q41 %></td>
        <td><%= questionnaire.q42 %></td>
        <td><%= questionnaire.q43 %></td>
        <td><%= questionnaire.q44 %></td>
        <td><%= questionnaire.q45 %></td>
        <td><%= questionnaire.q46 %></td>
        <td><%= questionnaire.q47 %></td>
        <td><%= questionnaire.q48 %></td>
        <td><%= questionnaire.q49 %></td>
        <td><%= questionnaire.q50 %></td>
        <td><%= questionnaire.q51 %></td>
        <td><%= questionnaire.q52 %></td>
        <td><%= questionnaire.q53 %></td>
        <td><%= questionnaire.q54 %></td>
        <td><%= questionnaire.q55 %></td>
        <td><%= questionnaire.q56 %></td>
        <td><%= questionnaire.q57 %></td>
        <td><%= questionnaire.q58 %></td>
        <td><%= questionnaire.q59 %></td>
        <td><%= questionnaire.q60 %></td>
        <td><%= questionnaire.q61 %></td>
        <td><%= questionnaire.q62 %></td>
        <td><%= questionnaire.q63 %></td>
        <td><%= questionnaire.q64 %></td>
        <td><%= questionnaire.q65 %></td>
        <td><%= questionnaire.q66 %></td>
        <td><%= questionnaire.q67 %></td>
        <td><%= questionnaire.q68 %></td>
        <td><%= questionnaire.q69 %></td>
        <td><%= questionnaire.q70 %></td>
        <td><%= questionnaire.q71 %></td>
        <td><%= questionnaire.q72 %></td>
        <td><%= questionnaire.q73 %></td>
        <td><%= questionnaire.q74 %></td>
        <td><%= questionnaire.q75 %></td>
        <td><%= questionnaire.q76 %></td>
        <td><%= questionnaire.q77 %></td>
        <td><%= questionnaire.q78 %></td>
        <td><%= questionnaire.q79 %></td>
        <td><%= questionnaire.q80 %></td>
        <td><%= questionnaire.q81 %></td>
        <td><%= questionnaire.context1 %></td>
        <td><%= questionnaire.context2 %></td>
        <td><%=l questionnaire.created_at %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      questionnaire_path(questionnaire),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_questionnaire_path,
            :class => 'btn btn-primary' %>
