<%- model_class = @questionaire.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:q0) %>:</strong><br>
  <%= @questionaire.q0 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q1) %>:</strong><br>
  <%= @questionaire.q1 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q2) %>:</strong><br>
  <%= @questionaire.q2 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q3) %>:</strong><br>
  <%= @questionaire.q3 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q4) %>:</strong><br>
  <%= @questionaire.q4 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q5) %>:</strong><br>
  <%= @questionaire.q5 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q6) %>:</strong><br>
  <%= @questionaire.q6 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q7) %>:</strong><br>
  <%= @questionaire.q7 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q8) %>:</strong><br>
  <%= @questionaire.q8 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q9) %>:</strong><br>
  <%= @questionaire.q9 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q10) %>:</strong><br>
  <%= @questionaire.q10 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q11) %>:</strong><br>
  <%= @questionaire.q11 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q12) %>:</strong><br>
  <%= @questionaire.q12 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q13) %>:</strong><br>
  <%= @questionaire.q13 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q14) %>:</strong><br>
  <%= @questionaire.q14 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q15) %>:</strong><br>
  <%= @questionaire.q15 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q16) %>:</strong><br>
  <%= @questionaire.q16 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q17) %>:</strong><br>
  <%= @questionaire.q17 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q18) %>:</strong><br>
  <%= @questionaire.q18 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q19) %>:</strong><br>
  <%= @questionaire.q19 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q20) %>:</strong><br>
  <%= @questionaire.q20 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q21) %>:</strong><br>
  <%= @questionaire.q21 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q22) %>:</strong><br>
  <%= @questionaire.q22 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q23) %>:</strong><br>
  <%= @questionaire.q23 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q24) %>:</strong><br>
  <%= @questionaire.q24 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q25) %>:</strong><br>
  <%= @questionaire.q25 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q26) %>:</strong><br>
  <%= @questionaire.q26 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q27) %>:</strong><br>
  <%= @questionaire.q27 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q28) %>:</strong><br>
  <%= @questionaire.q28 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q29) %>:</strong><br>
  <%= @questionaire.q29 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q30) %>:</strong><br>
  <%= @questionaire.q30 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q31) %>:</strong><br>
  <%= @questionaire.q31 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q32) %>:</strong><br>
  <%= @questionaire.q32 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q33) %>:</strong><br>
  <%= @questionaire.q33 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q34) %>:</strong><br>
  <%= @questionaire.q34 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q35) %>:</strong><br>
  <%= @questionaire.q35 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q36) %>:</strong><br>
  <%= @questionaire.q36 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q37) %>:</strong><br>
  <%= @questionaire.q37 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q38) %>:</strong><br>
  <%= @questionaire.q38 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q39) %>:</strong><br>
  <%= @questionaire.q39 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q40) %>:</strong><br>
  <%= @questionaire.q40 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q41) %>:</strong><br>
  <%= @questionaire.q41 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q42) %>:</strong><br>
  <%= @questionaire.q42 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q43) %>:</strong><br>
  <%= @questionaire.q43 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q44) %>:</strong><br>
  <%= @questionaire.q44 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q45) %>:</strong><br>
  <%= @questionaire.q45 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q46) %>:</strong><br>
  <%= @questionaire.q46 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q47) %>:</strong><br>
  <%= @questionaire.q47 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q48) %>:</strong><br>
  <%= @questionaire.q48 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q49) %>:</strong><br>
  <%= @questionaire.q49 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q50) %>:</strong><br>
  <%= @questionaire.q50 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q51) %>:</strong><br>
  <%= @questionaire.q51 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q52) %>:</strong><br>
  <%= @questionaire.q52 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q53) %>:</strong><br>
  <%= @questionaire.q53 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q54) %>:</strong><br>
  <%= @questionaire.q54 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q55) %>:</strong><br>
  <%= @questionaire.q55 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q56) %>:</strong><br>
  <%= @questionaire.q56 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q57) %>:</strong><br>
  <%= @questionaire.q57 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q58) %>:</strong><br>
  <%= @questionaire.q58 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q59) %>:</strong><br>
  <%= @questionaire.q59 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q60) %>:</strong><br>
  <%= @questionaire.q60 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q61) %>:</strong><br>
  <%= @questionaire.q61 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q62) %>:</strong><br>
  <%= @questionaire.q62 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q63) %>:</strong><br>
  <%= @questionaire.q63 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q64) %>:</strong><br>
  <%= @questionaire.q64 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q65) %>:</strong><br>
  <%= @questionaire.q65 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q66) %>:</strong><br>
  <%= @questionaire.q66 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q67) %>:</strong><br>
  <%= @questionaire.q67 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q68) %>:</strong><br>
  <%= @questionaire.q68 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q69) %>:</strong><br>
  <%= @questionaire.q69 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q70) %>:</strong><br>
  <%= @questionaire.q70 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q71) %>:</strong><br>
  <%= @questionaire.q71 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q72) %>:</strong><br>
  <%= @questionaire.q72 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q73) %>:</strong><br>
  <%= @questionaire.q73 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q74) %>:</strong><br>
  <%= @questionaire.q74 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q75) %>:</strong><br>
  <%= @questionaire.q75 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q76) %>:</strong><br>
  <%= @questionaire.q76 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q77) %>:</strong><br>
  <%= @questionaire.q77 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q78) %>:</strong><br>
  <%= @questionaire.q78 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q79) %>:</strong><br>
  <%= @questionaire.q79 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q80) %>:</strong><br>
  <%= @questionaire.q80 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:q81) %>:</strong><br>
  <%= @questionaire.q81 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:context1) %>:</strong><br>
  <%= @questionaire.context1 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:context2) %>:</strong><br>
  <%= @questionaire.context2 %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              questionaires_path, :class => 'btn'  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              questionaire_path(@questionaire),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
