<p id="notice"><%= notice %></p>

<p>
  <b>Participant:</b>
  <%= @demographic.participant_id %>
</p>

<p>
  <b>Gender:</b>
  <%= @demographic.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @demographic.age %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @demographic.ethnicity %>
</p>

<p>
  <b>Major:</b>
  <%= @demographic.major %>
</p>

<p>
  <b>Year university:</b>
  <%= @demographic.year_university %>
</p>

<p>
  <b>Gpa:</b>
  <%= @demographic.gpa %>
</p>

<p>
  <b>Country of residence:</b>
  <%= @demographic.country_of_residence %>
</p>

<p>
  <b>Country of birth:</b>
  <%= @demographic.country_of_birth %>
</p>

<p>
  <b>Country of schooling:</b>
  <%= @demographic.country_of_schooling %>
</p>

<p>
  <b>Native english:</b>
  <%= @demographic.native_english %>
</p>

<p>
  <b>Native language:</b>
  <%= @demographic.native_language %>
</p>


<%= link_to 'Back', demographics_path %>
