<h2>Questionnaire Part 4</h2>
<br>

<%= render "questionnaires/instructions/instructions", :part => 1, :ad_test => @participant.ad_test %>

<%= form_for @questionnaire, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <% for i in 21..27 %>
    <%= render "questionnaires/question", :question => @question_texts[i % 43], :index => i, :f => f %>
  <% end %>

  <p>
    <%= f.submit "Next Step", :class => 'btn btn-primary' %>
  </p>
<% end %>