<h2>Questionnaire Part 14</h2>
<br>

<%= form_for @questionnaire, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <p class="instructions">
    <%= render 'questionnaires/instructions/context_instructions', :part => 2, :ad_test => @participant.ad_test %>
  </p>
  <div class="control-group">
    <%= f.text_area :context2, :class => "span8", :rows => 8 %>
  </div>

  <p>
    <%= f.submit "Finish Survey", :class => 'btn btn-primary' %>
  </p>
<% end %>