<h1>Search Task <small>Question 1 of 2</small></h1>
<br>

<% if @search.ad_test == 0 %>

  <%= form_for @search, :html => { :class => 'form-horizontal' } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
    <%= render "searches/tasks/task9", :f => f %>
    <p>
      <%= f.submit "Next Question", :class => 'btn btn-primary' %>
    </p>
  <% end %>

<% end %>

<% if @search.ad_test == 1 %>

  <%= form_for @search, :html => { :class => 'form-horizontal' } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
    <%= render "searches/tasks/task8", :f => f %>
    <p>
      <%= f.submit "Next Question", :class => 'btn btn-primary' %>
    </p>
  <% end %>

<% end %>

<% if @search.ad_test == 2 %>

  <%= form_for @search, :html => { :class => 'form-horizontal' } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
    <%= render "searches/tasks/task6", :f => f %>
    <p>
      <%= f.submit "Next Question", :class => 'btn btn-primary' %>
    </p>
  <% end %>
  
<% end %>

<% if @search.ad_test == 3 %>

  <%= form_for @search, :html => { :class => 'form-horizontal' } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
    <%= render "searches/tasks/task7", :f => f %>
    <p>
      <%= f.submit "Next Question", :class => 'btn btn-primary' %>
    </p>
  <% end %>
  
<% end %>